@model IEnumerable<Cactus>

<link rel="stylesheet" href="~/css/loginbutton.css">

<section class="container">
    <div>
        <div>
            <form asp-action="Index">
                <input id="myInput" type="text" placeholder="Search..." name="search">
                <button type="submit" style="
                                        background: radial-gradient(#006666,#006633,#000000);
                                        border-radius: 50px;
                    " hidden>
                </button>
            </form>

            <small class="text-dark" style="font-family: Monospace, Monaco; font-size: 14px;">
                @ViewBag.searchpc
            </small>
        </div>

        <div class="mt-2" style="margin: 0 0 -50px 0;">
            <small class="text-dark" style="font-family: Monospace, Monaco; font-size: 22px;">
                พบสินค้า
                <strong>
                    @ViewBag.count
                </strong>
                รายการ
            </small>
        </div>

        <div class="navbar-collapse collapse d-sm-inline-flex" style="margin: 0 0 -10px 1125px;">

            <ul class="navbar-nav flex-grow-1" style="margin: 0 0 0 20px;">

                <li class="nav-item">

                    <a class="nav-link text-dark dropdown-toggle  h4" style="font-family: Fantasy, Copperplate;"
                       data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-filter-right"></i>Sort by</a>
                    <div class="mt-4 dropdown-menu dropdown-content ">

                        <span class="dropdown-header">เรียงตาม</span>
                        <div>
                            <a class="dropdown-item" asp-action="Index" asp-route-sortby="1">เรียงตามราคาต่ำสุด-สูงสุด</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-sortby="2">เรียงตามราคาสูงสุด-ต่ำสุด</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-sortby="3">เรียงตาม A-Z</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-sortby="4">เรียงตาม Z-A</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-sortby="5">เรียงตามใหม่-เก่า</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-sortby="6">เรียงตามเก่า-ใหม่</a>

                        </div>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="card" style="margin: 10px 0 0 0; background:#F5F5F5; border-color: #000000;">
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <div style="margin: -20px 0 -220px 15px;">
                <a class="text-dark h2" style="font-family: Fantasy, Copperplate; margin: 0 0 0 20px;"
                   asp-action="Index" asp-route-categoryId="0">All Product
               </a>
                <ul class="navbar-nav flex-grow-1" style="margin: 15px 0 0 20px;">
                    <li class="nav-item">

                        <a class="nav-link text-dark dropdown-toggle h4" style="font-family: Fantasy, Copperplate;"
                           data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category</a>

                        <div class="mt-4 dropdown-menu dropdown-content ">
                            <span class="dropdown-header">ประเภท</span>
                            <div>
                                @foreach (var item in @ViewBag.Cate)
                                {
                                    <a class="dropdown-item" asp-action="Index" asp-route-categoryId="@item.Id">@item.Name</a>
                                }
                            </div>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link text-dark dropdown-toggle h4" style="font-family: Fantasy, Copperplate;"
                           data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product</a>
                        <div class="mt-4 dropdown-menu dropdown-content ">

                            <span class="dropdown-header">สินค้า</span>
                            <div>
                                <a class="dropdown-item" asp-action="Index" asp-route-amount="1">สินค้าใกล้หมด</a>
                                <a class="dropdown-item" asp-action="Index" asp-route-amount="2">สินค้าที่หมด</a>
                            </div>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="card h-100 p-4" style="margin: -1px -1px 0 250px; background:#ffffff; border-color: #000000;">
            <div class="row">
                @foreach (var item in Model)
                {
                    string ImgUrl = "http://10.103.0.30/Cs64/s09/CAC" + item.ImageUrl;

                    var date = item.Date;
                    var datenow = @DateTime.Now;
                    var star = item.Review;
                    var ListPrice = item.Price + (item.Price * @ViewBag.random);
                    <div class="col-4 text-white p-3">
                        <div id="myTable">
                            <div class="card p-3" style="background:#ffffff; border-color: #000000;">
                                @if (item.Amount == 0)
                                {
                                    <small class="sold_out">
                                        Sold out
                                    </small>
                                }

                                <div class="card h-100" style="background:#F5FFFA; border-color: #ffffff;">
                                    @if (date.Day == datenow.Day && date.Month == datenow.Month && date.Year == datenow.Year && item.Amount != 0)
                                    {
                                        <div class="text-block">
                                            <a>New</a>
                                        </div>
                                    }
                                    <a  asp-action="Details" asp-route-productId="@item.Id" asp-route-categoryId="@item.CategoryId">
                                        <img src=@ImgUrl class="d-block image" width="100%" height="250" style="font-size:1.125rem;text-anchor:middle" />

                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-dark" style="font-family: system-ui; font-size: 30px; font-feature-settings: 'smcp' on; text-decoration: overline dotted #990033;">@item.Name</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-start" style="font-family: cursive;">
                                        <div class="row">
                                            <div class="col text-start">
                                                <strike style="color:#adadad;">
                                                    @(ListPrice.ToString("0.00"))฿

                                                </strike>
                                            </div>
                                            <div class="col text-end">
                                                <small style="font-size: 20px;">
                                                    @item.Price฿
                                                </small>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div>
                                    <a class="btn btn-success w-100" style="background:#006666; font-family: fantasy;" asp-action="Details" asp-route-productId="@item.Id" asp-route-categoryId="@item.CategoryId"><span>DETAIL + BUY</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br /><br />
                <br /><br />
                <br /><br />
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
@*    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable div").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>*@
}

